<div id="mash">
    <p class="bottom-buffer">Discover new words! Get Mixed & Mashed suggestions from mashing 2 keywords to discover unique names related to your industry.</p>
    <p class="bottom-buffer"><i>Select two keywords to create a mashup:</i></p>
    <div class="btn-group btn-toolbar col-lg-12 mashbtn" data-toggle="buttons-radio">
        <button type="button" name="flower"   value="1" class="btn mash-up button" data-toggle="button">flower</button>
        <button type="button" name="design" value="2" class="btn mash-up button" data-toggle="button">design</button>
        <button type="button" name="shop"  value="3" class="btn mash-up button" data-toggle="button">shop</button>
    </div>
    <div id="mashupSubmit" class="submitBtn col-lg-12 text-center top-buffer-lg border-top-keylab">Show me mashups for: <span class="strong-keylab selectedText"></span><button class="btn submit" disabled="disabled" type="button">MASH!</button></div>
</div>

<div id="mashMsg">
    <h5 class="h5-keylab">Want to do some MASHIN'? <a href="#">Enter another keyword </a>to get mashup suggestions!</h5>
    <span>We were unable to create a mashup because your search included only <strong>1 word</strong>.<br /><strong>Add another word</strong> to come up with interesting, mashup names!</span>
</div>
