<ul class="list-unstyled col-lg-12">
    <% for(var i=0; i < result.suggestions.length; i++) {%>
    <li class="col-lg-6 col-md-6 col-sm-12 col-xs-12" style="padding-bottom: 10px;"><%= result.suggestions[i].domainName %></li>
    <% } %>

</ul>